
<div class="clearfix">
  <div class="reg">
    <h1>Register Here</h1>
  
    <div class="username">
      <label for="username">Username</label> <br>
      <input [(ngModel)]='username' id="input-forms">
    </div>
  
    <div class="email">
      <label for="emal">E-mail</label> <br>
      <input [(ngModel)]='email' id="input-forms">
    </div>
  
    <div class="phNumber">
      <label for="phNumber">phNumber</label> <br>
      <input type="number" [(ngModel)]='phNumber' id="input-forms">
    </div>
  
    <div class="addr">
      <label for="address">Address</label> <br>
      <textarea name="address" [(ngModel)]='address'></textarea>
    </div>
  
    <div class="desc">
      <label for="description">Description</label> <br>
      <textarea name="description" [(ngModel)]='description'></textarea>
    </div>
  
    <button (click)="createUser()" class="btn-create">Create</button>
    <button (click)="refreshList()" class="btn-refresh">Refresh</button>
  </div>
  
  
  
    <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let data of userList">
          <td>{{data.username}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phNumber}}</td>
          <td>{{data.address}}</td>
          <td>{{data.description}}</td>
        </tr>
    </table>
</div>